In [1]:
import requests

download_url = "https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-elo/nbaallelo.csv"
target_csv_path = "nba_all_elo.csv"

response = requests.get(download_url)
response.raise_for_status()    # Check that the request was successful
with open(target_csv_path, "wb") as f:
    f.write(response.content)
print("Download ready.")

Download ready.

In [2]:
import pandas as pd
data = {
    'apples': [3, 2, 0, 1, 8], 
    'oranges': [0, 3, 7, 2, 6],
    'Customer_name': ['sara soltaninejad', 'Tina baghaee', 'Alex hope', 'Jen wei', 'Frincy Clement'] 
}
purchases = pd.DataFrame(data)
purchases

   apples  oranges      Customer_name
0       3        0  sara soltaninejad
1       2        3       Tina baghaee
2       0        7          Alex hope
3       1        2            Jen wei
4       8        6     Frincy Clement

In [3]:
# Use 3 decimal places in output display
pd.set_option("display.precision", 3)

# Don't wrap repr(DataFrame) across additional lines
pd.set_option("display.expand_frame_repr", False)

# Set max rows displayed in output to 100
pd.set_option("display.max_rows", 100)
# Set max rows displayed in output to 100
pd.set_option("display.max.columns", None)

In [4]:
df = pd.read_csv("nba_all_elo.csv")
type(df)

pandas.core.frame.DataFrame

In [5]:
df.head()

   gameorder       game_id lg_id  _iscopy  year_id  date_game  seasongame  is_playoffs team_id  fran_id  pts     elo_i     elo_n  win_equiv opp_id  opp_fran  opp_pts  opp_elo_i  opp_elo_n game_location game_result  forecast notes
0          1  194611010TRH   NBA        0     1947  11/1/1946           1            0     TRH  Huskies   66  1300.000  1293.277     40.295    NYK    Knicks       68   1300.000   1306.723             H           L     0.640   NaN
1          1  194611010TRH   NBA        1     1947  11/1/1946           1            0     NYK   Knicks   68  1300.000  1306.723     41.705    TRH   Huskies       66   1300.000   1293.277             A           W     0.360   NaN
2          2  194611020CHS   NBA        0     1947  11/2/1946           1            0     CHS    Stags   63  1300.000  1309.652     42.012    NYK    Knicks       47   1306.723   1297.071             H           W     0.631   NaN
3          2  194611020CHS   NBA        1     1947  11/2/1946           2            0     NYK   Knicks   47  1306.723  1297.071     40.693    CHS     Stags       63   1300.000   1309.652             A           L     0.369   NaN
4          3  194611020DTF   NBA        0     1947  11/2/1946           1            0     DTF  Falcons   33  1300.000  1279.619     38.864    WSC  Capitols       50   1300.000   1320.381             H           L     0.640   NaN

In [6]:
df.tail(10)

        gameorder       game_id lg_id  _iscopy  year_id  date_game  seasongame  is_playoffs team_id    fran_id  pts     elo_i     elo_n  win_equiv opp_id   opp_fran  opp_pts  opp_elo_i  opp_elo_n game_location game_result  forecast notes
126304      63153  201506070GSW   NBA        1     2015   6/7/2015          98            1     CLE  Cavaliers   95  1708.170  1716.871     61.313    GSW   Warriors       93   1806.204   1797.503             A           W     0.242   NaN
126305      63153  201506070GSW   NBA        0     2015   6/7/2015          99            1     GSW   Warriors   93  1806.204  1797.503     67.030    CLE  Cavaliers       95   1708.170   1716.871             H           L     0.758   NaN
126306      63154  201506090CLE   NBA        1     2015   6/9/2015         100            1     GSW   Warriors   91  1797.503  1790.959     66.615    CLE  Cavaliers       96   1716.871   1723.415             A           L     0.472   NaN
126307      63154  201506090CLE   NBA        0     2015   6/9/2015          99            1     CLE  Cavaliers   96  1716.871  1723.415     61.826    GSW   Warriors       91   1797.503   1790.959             H           W     0.528   NaN
126308      63155  201506110CLE   NBA        1     2015  6/11/2015         101            1     GSW   Warriors  103  1790.959  1809.979     67.795    CLE  Cavaliers       82   1723.415   1704.395             A           W     0.453   NaN
126309      63155  201506110CLE   NBA        0     2015  6/11/2015         100            1     CLE  Cavaliers   82  1723.415  1704.395     60.310    GSW   Warriors      103   1790.959   1809.979             H           L     0.547   NaN
126310      63156  201506140GSW   NBA        0     2015  6/14/2015         102            1     GSW   Warriors  104  1809.979  1813.635     68.013    CLE  Cavaliers       91   1704.395   1700.739             H           W     0.766   NaN
126311      63156  201506140GSW   NBA        1     2015  6/14/2015         101            1     CLE  Cavaliers   91  1704.395  1700.739     60.010    GSW   Warriors      104   1809.979   1813.635             A           L     0.234   NaN
126312      63157  201506170CLE   NBA        0     2015  6/16/2015         102            1     CLE  Cavaliers   97  1700.739  1692.086     59.290    GSW   Warriors      105   1813.635   1822.288             H           L     0.481   NaN
126313      63157  201506170CLE   NBA        1     2015  6/16/2015         103            1     GSW   Warriors  105  1813.635  1822.288     68.520    CLE  Cavaliers       97   1700.739   1692.086             A           W     0.519   NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 23 columns):
gameorder        126314 non-null int64
game_id          126314 non-null object
lg_id            126314 non-null object
_iscopy          126314 non-null int64
year_id          126314 non-null int64
date_game        126314 non-null object
seasongame       126314 non-null int64
is_playoffs      126314 non-null int64
team_id          126314 non-null object
fran_id          126314 non-null object
pts              126314 non-null int64
elo_i            126314 non-null float64
elo_n            126314 non-null float64
win_equiv        126314 non-null float64
opp_id           126314 non-null object
opp_fran         126314 non-null object
opp_pts          126314 non-null int64
opp_elo_i        126314 non-null float64
opp_elo_n        126314 non-null float64
game_location    126314 non-null object
game_result      126314 non-null object
forecast         126314 non-null float64
notes            5424 non-null object
dtypes: float64(6), int64(7), object(10)
memory usage: 22.2+ MB

In [8]:
df.describe()

        gameorder   _iscopy     year_id  seasongame  is_playoffs         pts       elo_i       elo_n   win_equiv     opp_pts   opp_elo_i   opp_elo_n    forecast
count  126314.000  126314.0  126314.000  126314.000   126314.000  126314.000  126314.000  126314.000  126314.000  126314.000  126314.000  126314.000  126314.000
mean    31579.000       0.5    1988.200      43.534        0.064     102.730    1495.236    1495.236      41.708     102.730    1495.236    1495.236       0.500
std     18231.928       0.5      17.582      25.375        0.244      14.815     112.140     112.462      10.627      14.815     112.140     112.462       0.215
min         1.000       0.0    1947.000       1.000        0.000       0.000    1091.645    1085.774      10.153       0.000    1091.645    1085.774       0.020
25%     15790.000       0.0    1975.000      22.000        0.000      93.000    1417.238    1416.995      34.103      93.000    1417.238    1416.995       0.328
50%     31579.000       0.5    1990.000      43.000        0.000     103.000    1500.946    1500.954      42.113     103.000    1500.946    1500.954       0.500
75%     47368.000       1.0    2003.000      65.000        0.000     112.000    1576.060    1576.292      49.635     112.000    1576.060    1576.292       0.672
max     63157.000       1.0    2015.000     108.000        1.000     186.000    1853.104    1853.104      71.112     186.000    1853.104    1853.104       0.980

In [9]:
import numpy as np
df.describe(include=np.object)

             game_id   lg_id  date_game team_id fran_id  opp_id opp_fran game_location game_result           notes
count         126314  126314     126314  126314  126314  126314   126314        126314      126314            5424
unique         63157       2      12426     104      53     104       53             3           2             231
top     200501270CHI     NBA  4/17/2013     BOS  Lakers     BOS   Lakers             H           L  at New York NY
freq               2  118016         30    5997    6024    5997     6024         63138       63157             440

In [10]:
df[["team_id", "year_id"]]

       team_id  year_id
0          TRH     1947
1          NYK     1947
2          CHS     1947
3          NYK     1947
4          DTF     1947
...        ...      ...
126309     CLE     2015
126310     GSW     2015
126311     CLE     2015
126312     CLE     2015
126313     GSW     2015

[126314 rows x 2 columns]

In [11]:
df.team_id

0         TRH
1         NYK
2         CHS
3         NYK
4         DTF
         ...
126309    CLE
126310    GSW
126311    CLE
126312    CLE
126313    GSW
Name: team_id, Length: 126314, dtype: object

In [12]:
df.columns

Index(['gameorder', 'game_id', 'lg_id', '_iscopy', 'year_id', 'date_game',
       'seasongame', 'is_playoffs', 'team_id', 'fran_id', 'pts', 'elo_i',
       'elo_n', 'win_equiv', 'opp_id', 'opp_fran', 'opp_pts', 'opp_elo_i',
       'opp_elo_n', 'game_location', 'game_result', 'forecast', 'notes'],
      dtype='object')

In [13]:
df.iloc[2]

gameorder                   2
game_id          194611020CHS
lg_id                     NBA
_iscopy                     0
year_id                  1947
date_game           11/2/1946
seasongame                  1
is_playoffs                 0
team_id                   CHS
fran_id                 Stags
pts                        63
elo_i                 1.3e+03
elo_n                1.31e+03
win_equiv                  42
opp_id                    NYK
opp_fran               Knicks
opp_pts                    47
opp_elo_i            1.31e+03
opp_elo_n             1.3e+03
game_location               H
game_result                 W
forecast                0.631
notes                     NaN
Name: 2, dtype: object

In [14]:
df.iloc[[2,3],  [8, 9]]

  team_id fran_id
2     CHS   Stags
3     NYK  Knicks

In [15]:
df.loc[[2,3],  ["team_id", "year_id"]]

  team_id  year_id
2     CHS     1947
3     NYK     1947

In [16]:
df.team_id.value_counts()

BOS    5997
NYK    5769
LAL    5078
DET    4985
PHI    4533
       ...
INJ      60
PIT      60
DTF      60
TRH      60
SDS      11
Name: team_id, Length: 104, dtype: int64

In [17]:
df.loc[1:5,'team_id':'opp_id']

  team_id   fran_id  pts     elo_i     elo_n  win_equiv opp_id
1     NYK    Knicks   68  1300.000  1306.723     41.705    TRH
2     CHS     Stags   63  1300.000  1309.652     42.012    NYK
3     NYK    Knicks   47  1306.723  1297.071     40.693    CHS
4     DTF   Falcons   33  1300.000  1279.619     38.864    WSC
5     WSC  Capitols   50  1300.000  1320.381     43.136    DTF

In [18]:
df.set_index('game_id', inplace= True)

In [19]:
df.sort_index(inplace= True)
df

              gameorder lg_id  _iscopy  year_id  date_game  seasongame  is_playoffs team_id    fran_id  pts     elo_i     elo_n  win_equiv opp_id   opp_fran  opp_pts  opp_elo_i  opp_elo_n game_location game_result  forecast notes
game_id
194611010TRH          1   NBA        0     1947  11/1/1946           1            0     TRH    Huskies   66  1300.000  1293.277     40.295    NYK     Knicks       68   1300.000   1306.723             H           L     0.640   NaN
194611010TRH          1   NBA        1     1947  11/1/1946           1            0     NYK     Knicks   68  1300.000  1306.723     41.705    TRH    Huskies       66   1300.000   1293.277             A           W     0.360   NaN
194611020CHS          2   NBA        0     1947  11/2/1946           1            0     CHS      Stags   63  1300.000  1309.652     42.012    NYK     Knicks       47   1306.723   1297.071             H           W     0.631   NaN
194611020CHS          2   NBA        1     1947  11/2/1946           2            0     NYK     Knicks   47  1306.723  1297.071     40.693    CHS      Stags       63   1300.000   1309.652             A           L     0.369   NaN
194611020DTF          3   NBA        0     1947  11/2/1946           1            0     DTF    Falcons   33  1300.000  1279.619     38.864    WSC   Capitols       50   1300.000   1320.381             H           L     0.640   NaN
...                 ...   ...      ...      ...        ...         ...          ...     ...        ...  ...       ...       ...        ...    ...        ...      ...        ...        ...           ...         ...       ...   ...
201506110CLE      63155   NBA        0     2015  6/11/2015         100            1     CLE  Cavaliers   82  1723.415  1704.395     60.310    GSW   Warriors      103   1790.959   1809.979             H           L     0.547   NaN
201506140GSW      63156   NBA        0     2015  6/14/2015         102            1     GSW   Warriors  104  1809.979  1813.635     68.013    CLE  Cavaliers       91   1704.395   1700.739             H           W     0.766   NaN
201506140GSW      63156   NBA        1     2015  6/14/2015         101            1     CLE  Cavaliers   91  1704.395  1700.739     60.010    GSW   Warriors      104   1809.979   1813.635             A           L     0.234   NaN
201506170CLE      63157   NBA        0     2015  6/16/2015         102            1     CLE  Cavaliers   97  1700.739  1692.086     59.290    GSW   Warriors      105   1813.635   1822.288             H           L     0.481   NaN
201506170CLE      63157   NBA        1     2015  6/16/2015         103            1     GSW   Warriors  105  1813.635  1822.288     68.520    CLE  Cavaliers       97   1700.739   1692.086             A           W     0.519   NaN

[126314 rows x 22 columns]

In [20]:
df.index

Index(['194611010TRH', '194611010TRH', '194611020CHS', '194611020CHS',
       '194611020DTF', '194611020DTF', '194611020PRO', '194611020PRO',
       '194611020STB', '194611020STB',
       ...
       '201506070GSW', '201506070GSW', '201506090CLE', '201506090CLE',
       '201506110CLE', '201506110CLE', '201506140GSW', '201506140GSW',
       '201506170CLE', '201506170CLE'],
      dtype='object', name='game_id', length=126314)

In [21]:
df.loc['194611010TRH']

              gameorder lg_id  _iscopy  year_id  date_game  seasongame  is_playoffs team_id  fran_id  pts   elo_i     elo_n  win_equiv opp_id opp_fran  opp_pts  opp_elo_i  opp_elo_n game_location game_result  forecast notes
game_id
194611010TRH          1   NBA        0     1947  11/1/1946           1            0     TRH  Huskies   66  1300.0  1293.277     40.295    NYK   Knicks       68     1300.0   1306.723             H           L      0.64   NaN
194611010TRH          1   NBA        1     1947  11/1/1946           1            0     NYK   Knicks   68  1300.0  1306.723     41.705    TRH  Huskies       66     1300.0   1293.277             A           W      0.36   NaN

In [22]:
df.reset_index(inplace= True)

In [23]:
df

             game_id  gameorder lg_id  _iscopy  year_id  date_game  seasongame  is_playoffs team_id    fran_id  pts     elo_i     elo_n  win_equiv opp_id   opp_fran  opp_pts  opp_elo_i  opp_elo_n game_location game_result  forecast notes
0       194611010TRH          1   NBA        0     1947  11/1/1946           1            0     TRH    Huskies   66  1300.000  1293.277     40.295    NYK     Knicks       68   1300.000   1306.723             H           L     0.640   NaN
1       194611010TRH          1   NBA        1     1947  11/1/1946           1            0     NYK     Knicks   68  1300.000  1306.723     41.705    TRH    Huskies       66   1300.000   1293.277             A           W     0.360   NaN
2       194611020CHS          2   NBA        0     1947  11/2/1946           1            0     CHS      Stags   63  1300.000  1309.652     42.012    NYK     Knicks       47   1306.723   1297.071             H           W     0.631   NaN
3       194611020CHS          2   NBA        1     1947  11/2/1946           2            0     NYK     Knicks   47  1306.723  1297.071     40.693    CHS      Stags       63   1300.000   1309.652             A           L     0.369   NaN
4       194611020DTF          3   NBA        0     1947  11/2/1946           1            0     DTF    Falcons   33  1300.000  1279.619     38.864    WSC   Capitols       50   1300.000   1320.381             H           L     0.640   NaN
...              ...        ...   ...      ...      ...        ...         ...          ...     ...        ...  ...       ...       ...        ...    ...        ...      ...        ...        ...           ...         ...       ...   ...
126309  201506110CLE      63155   NBA        0     2015  6/11/2015         100            1     CLE  Cavaliers   82  1723.415  1704.395     60.310    GSW   Warriors      103   1790.959   1809.979             H           L     0.547   NaN
126310  201506140GSW      63156   NBA        0     2015  6/14/2015         102            1     GSW   Warriors  104  1809.979  1813.635     68.013    CLE  Cavaliers       91   1704.395   1700.739             H           W     0.766   NaN
126311  201506140GSW      63156   NBA        1     2015  6/14/2015         101            1     CLE  Cavaliers   91  1704.395  1700.739     60.010    GSW   Warriors      104   1809.979   1813.635             A           L     0.234   NaN
126312  201506170CLE      63157   NBA        0     2015  6/16/2015         102            1     CLE  Cavaliers   97  1700.739  1692.086     59.290    GSW   Warriors      105   1813.635   1822.288             H           L     0.481   NaN
126313  201506170CLE      63157   NBA        1     2015  6/16/2015         103            1     GSW   Warriors  105  1813.635  1822.288     68.520    CLE  Cavaliers       97   1700.739   1692.086             A           W     0.519   NaN

[126314 rows x 23 columns]

In [24]:
filt = (df['team_id'] == 'BOS')
df[filt]

             game_id  gameorder lg_id  _iscopy  year_id   date_game  seasongame  is_playoffs team_id  fran_id  pts     elo_i     elo_n  win_equiv opp_id      opp_fran  opp_pts  opp_elo_i  opp_elo_n game_location game_result  forecast notes
6       194611020PRO          4   NBA        1     1947   11/2/1946           1            0     BOS  Celtics   53  1300.000  1294.846     40.459    PRO  Steamrollers       59   1300.000   1305.154             A           L     0.360   NaN
15      194611050BOS          8   NBA        0     1947   11/5/1946           2            0     BOS  Celtics   55  1294.846  1288.414     39.785    CHS         Stags       57   1309.652   1316.084             H           L     0.620   NaN
29      194611090DTF         15   NBA        1     1947   11/9/1946           3            0     BOS  Celtics   46  1288.414  1275.277     38.410    DTF       Falcons       69   1268.447   1281.584             A           L     0.387   NaN
40      194611130CHS         21   NBA        1     1947  11/13/1946           4            0     BOS  Celtics   61  1275.277  1269.886     37.847    CHS         Stags       71   1329.356   1334.746             A           L     0.292   NaN
46      194611140STB         24   NBA        1     1947  11/14/1946           5            0     BOS  Celtics   62  1269.886  1267.150     37.562    STB       Bombers       64   1305.732   1308.468             A           L     0.314   NaN
...              ...        ...   ...      ...      ...         ...         ...          ...     ...      ...  ...       ...       ...        ...    ...           ...      ...        ...        ...           ...         ...       ...   ...
126141  201504150MIL      63071   NBA        1     2015   4/15/2015          82            0     BOS  Celtics  105  1543.862  1551.862     45.940    MIL         Bucks      100   1480.067   1472.068             A           W     0.448   NaN
126162  201504190CLE      63082   NBA        1     2015   4/19/2015          83            1     BOS  Celtics  100  1551.862  1546.217     45.355    CLE     Cavaliers      113   1630.619   1636.264             A           L     0.263   NaN
126173  201504210CLE      63087   NBA        1     2015   4/21/2015          84            1     BOS  Celtics   91  1546.217  1542.263     44.945    CLE     Cavaliers       99   1636.264   1640.218             A           L     0.251   NaN
126184  201504230BOS      63093   NBA        0     2015   4/23/2015          85            1     BOS  Celtics   95  1542.263  1533.116     43.992    CLE     Cavaliers      103   1640.218   1649.366             H           L     0.503   NaN
126205  201504260BOS      63103   NBA        0     2015   4/26/2015          86            1     BOS  Celtics   93  1533.116  1524.572     43.099    CLE     Cavaliers      101   1649.366   1657.910             H           L     0.477   NaN

[5997 rows x 23 columns]

In [25]:
df.loc[filt]

             game_id  gameorder lg_id  _iscopy  year_id   date_game  seasongame  is_playoffs team_id  fran_id  pts     elo_i     elo_n  win_equiv opp_id      opp_fran  opp_pts  opp_elo_i  opp_elo_n game_location game_result  forecast notes
6       194611020PRO          4   NBA        1     1947   11/2/1946           1            0     BOS  Celtics   53  1300.000  1294.846     40.459    PRO  Steamrollers       59   1300.000   1305.154             A           L     0.360   NaN
15      194611050BOS          8   NBA        0     1947   11/5/1946           2            0     BOS  Celtics   55  1294.846  1288.414     39.785    CHS         Stags       57   1309.652   1316.084             H           L     0.620   NaN
29      194611090DTF         15   NBA        1     1947   11/9/1946           3            0     BOS  Celtics   46  1288.414  1275.277     38.410    DTF       Falcons       69   1268.447   1281.584             A           L     0.387   NaN
40      194611130CHS         21   NBA        1     1947  11/13/1946           4            0     BOS  Celtics   61  1275.277  1269.886     37.847    CHS         Stags       71   1329.356   1334.746             A           L     0.292   NaN
46      194611140STB         24   NBA        1     1947  11/14/1946           5            0     BOS  Celtics   62  1269.886  1267.150     37.562    STB       Bombers       64   1305.732   1308.468             A           L     0.314   NaN
...              ...        ...   ...      ...      ...         ...         ...          ...     ...      ...  ...       ...       ...        ...    ...           ...      ...        ...        ...           ...         ...       ...   ...
126141  201504150MIL      63071   NBA        1     2015   4/15/2015          82            0     BOS  Celtics  105  1543.862  1551.862     45.940    MIL         Bucks      100   1480.067   1472.068             A           W     0.448   NaN
126162  201504190CLE      63082   NBA        1     2015   4/19/2015          83            1     BOS  Celtics  100  1551.862  1546.217     45.355    CLE     Cavaliers      113   1630.619   1636.264             A           L     0.263   NaN
126173  201504210CLE      63087   NBA        1     2015   4/21/2015          84            1     BOS  Celtics   91  1546.217  1542.263     44.945    CLE     Cavaliers       99   1636.264   1640.218             A           L     0.251   NaN
126184  201504230BOS      63093   NBA        0     2015   4/23/2015          85            1     BOS  Celtics   95  1542.263  1533.116     43.992    CLE     Cavaliers      103   1640.218   1649.366             H           L     0.503   NaN
126205  201504260BOS      63103   NBA        0     2015   4/26/2015          86            1     BOS  Celtics   93  1533.116  1524.572     43.099    CLE     Cavaliers      101   1649.366   1657.910             H           L     0.477   NaN

[5997 rows x 23 columns]

In [26]:
df.loc[filt, 'seasongame':'fran_id']

        seasongame  is_playoffs team_id  fran_id
6                1            0     BOS  Celtics
15               2            0     BOS  Celtics
29               3            0     BOS  Celtics
40               4            0     BOS  Celtics
46               5            0     BOS  Celtics
...            ...          ...     ...      ...
126141          82            0     BOS  Celtics
126162          83            1     BOS  Celtics
126173          84            1     BOS  Celtics
126184          85            1     BOS  Celtics
126205          86            1     BOS  Celtics

[5997 rows x 4 columns]

In [27]:
filt2 = (df['team_id'] == 'BOS') & (df['game_result'] == 'W')

df.loc[filt2, 'team_id' :'game_result']

       team_id  fran_id  pts     elo_i     elo_n  win_equiv opp_id   opp_fran  opp_pts  opp_elo_i  opp_elo_n game_location game_result
51         BOS  Celtics   53  1267.150  1271.900     38.058    TRH    Huskies       49   1294.755   1290.005             H           W
113        BOS  Celtics   59  1228.791  1233.790     34.121    PIT    Ironmen       55   1268.644   1263.644             H           W
134        BOS  Celtics   46  1228.683  1236.025     34.349    PIT    Ironmen       44   1259.729   1252.387             A           W
179        BOS  Celtics   73  1206.038  1214.980     32.220    DTF    Falcons       66   1322.933   1313.990             H           W
186        BOS  Celtics   77  1214.980  1226.295     33.359    PHW   Warriors       65   1307.422   1296.107             H           W
...        ...      ...  ...       ...       ...        ...    ...        ...      ...        ...        ...           ...         ...
126019     BOS  Celtics  113  1474.360  1488.019     39.268    DET    Pistons      103   1455.869   1442.210             A           W
126044     BOS  Celtics   99  1488.019  1509.314     41.501    CLE  Cavaliers       90   1677.162   1655.867             A           W
126076     BOS  Celtics  117  1509.314  1540.526     44.764    CLE  Cavaliers       78   1655.867   1624.655             H           W
126119     BOS  Celtics   95  1540.526  1543.862     45.111    TOR    Raptors       93   1548.544   1545.208             H           W
126141     BOS  Celtics  105  1543.862  1551.862     45.940    MIL      Bucks      100   1480.067   1472.068             A           W

[3517 rows x 13 columns]

In [28]:
df.columns = [x.upper() for x in df.columns]
df.head()

        GAME_ID  GAMEORDER LG_ID  _ISCOPY  YEAR_ID  DATE_GAME  SEASONGAME  IS_PLAYOFFS TEAM_ID  FRAN_ID  PTS     ELO_I     ELO_N  WIN_EQUIV OPP_ID  OPP_FRAN  OPP_PTS  OPP_ELO_I  OPP_ELO_N GAME_LOCATION GAME_RESULT  FORECAST NOTES
0  194611010TRH          1   NBA        0     1947  11/1/1946           1            0     TRH  Huskies   66  1300.000  1293.277     40.295    NYK    Knicks       68   1300.000   1306.723             H           L     0.640   NaN
1  194611010TRH          1   NBA        1     1947  11/1/1946           1            0     NYK   Knicks   68  1300.000  1306.723     41.705    TRH   Huskies       66   1300.000   1293.277             A           W     0.360   NaN
2  194611020CHS          2   NBA        0     1947  11/2/1946           1            0     CHS    Stags   63  1300.000  1309.652     42.012    NYK    Knicks       47   1306.723   1297.071             H           W     0.631   NaN
3  194611020CHS          2   NBA        1     1947  11/2/1946           2            0     NYK   Knicks   47  1306.723  1297.071     40.693    CHS     Stags       63   1300.000   1309.652             A           L     0.369   NaN
4  194611020DTF          3   NBA        0     1947  11/2/1946           1            0     DTF  Falcons   33  1300.000  1279.619     38.864    WSC  Capitols       50   1300.000   1320.381             H           L     0.640   NaN

In [29]:
df.columns = df.columns.str.replace(' ', '_')

In [30]:
df.rename(columns = {'SEASONGAME':'SEASON_GAME'}, inplace=True)
df

             GAME_ID  GAMEORDER LG_ID  _ISCOPY  YEAR_ID  DATE_GAME  SEASON_GAME  IS_PLAYOFFS TEAM_ID    FRAN_ID  PTS     ELO_I     ELO_N  WIN_EQUIV OPP_ID   OPP_FRAN  OPP_PTS  OPP_ELO_I  OPP_ELO_N GAME_LOCATION GAME_RESULT  FORECAST NOTES
0       194611010TRH          1   NBA        0     1947  11/1/1946            1            0     TRH    Huskies   66  1300.000  1293.277     40.295    NYK     Knicks       68   1300.000   1306.723             H           L     0.640   NaN
1       194611010TRH          1   NBA        1     1947  11/1/1946            1            0     NYK     Knicks   68  1300.000  1306.723     41.705    TRH    Huskies       66   1300.000   1293.277             A           W     0.360   NaN
2       194611020CHS          2   NBA        0     1947  11/2/1946            1            0     CHS      Stags   63  1300.000  1309.652     42.012    NYK     Knicks       47   1306.723   1297.071             H           W     0.631   NaN
3       194611020CHS          2   NBA        1     1947  11/2/1946            2            0     NYK     Knicks   47  1306.723  1297.071     40.693    CHS      Stags       63   1300.000   1309.652             A           L     0.369   NaN
4       194611020DTF          3   NBA        0     1947  11/2/1946            1            0     DTF    Falcons   33  1300.000  1279.619     38.864    WSC   Capitols       50   1300.000   1320.381             H           L     0.640   NaN
...              ...        ...   ...      ...      ...        ...          ...          ...     ...        ...  ...       ...       ...        ...    ...        ...      ...        ...        ...           ...         ...       ...   ...
126309  201506110CLE      63155   NBA        0     2015  6/11/2015          100            1     CLE  Cavaliers   82  1723.415  1704.395     60.310    GSW   Warriors      103   1790.959   1809.979             H           L     0.547   NaN
126310  201506140GSW      63156   NBA        0     2015  6/14/2015          102            1     GSW   Warriors  104  1809.979  1813.635     68.013    CLE  Cavaliers       91   1704.395   1700.739             H           W     0.766   NaN
126311  201506140GSW      63156   NBA        1     2015  6/14/2015          101            1     CLE  Cavaliers   91  1704.395  1700.739     60.010    GSW   Warriors      104   1809.979   1813.635             A           L     0.234   NaN
126312  201506170CLE      63157   NBA        0     2015  6/16/2015          102            1     CLE  Cavaliers   97  1700.739  1692.086     59.290    GSW   Warriors      105   1813.635   1822.288             H           L     0.481   NaN
126313  201506170CLE      63157   NBA        1     2015  6/16/2015          103            1     GSW   Warriors  105  1813.635  1822.288     68.520    CLE  Cavaliers       97   1700.739   1692.086             A           W     0.519   NaN

[126314 rows x 23 columns]

In [31]:
df.loc[2, ['TEAM_ID', 'FRAN_ID']]

TEAM_ID      CHS
FRAN_ID    Stags
Name: 2, dtype: object

In [32]:
df.loc[2, 'TEAM_ID'] = 'WSC'
df.loc[2, 'TEAM_ID']

'WSC'

In [33]:
df.at[2, 'TEAM_ID'] = 'WSC'
df.loc[2, 'TEAM_ID']

'WSC'

In [34]:
df['TEAM_ID'] = df['TEAM_ID'].str.lower()
df['TEAM_ID']

0         trh
1         nyk
2         wsc
3         nyk
4         dtf
         ...
126309    cle
126310    gsw
126311    cle
126312    cle
126313    gsw
Name: TEAM_ID, Length: 126314, dtype: object

In [35]:
df['FRAN_ID'].apply(len)

0         7
1         6
2         5
3         6
4         7
         ..
126309    9
126310    8
126311    9
126312    9
126313    8
Name: FRAN_ID, Length: 126314, dtype: int64

In [36]:
def update_teamid(team_id):
    return team_id.upper()
df['TEAM_ID'] = df['TEAM_ID'].apply(update_teamid)
df['TEAM_ID']

0         TRH
1         NYK
2         WSC
3         NYK
4         DTF
         ...
126309    CLE
126310    GSW
126311    CLE
126312    CLE
126313    GSW
Name: TEAM_ID, Length: 126314, dtype: object

In [37]:
df['TEAM_ID'] = df['TEAM_ID'].apply(lambda x: x.lower())
df['TEAM_ID']

0         trh
1         nyk
2         wsc
3         nyk
4         dtf
         ...
126309    cle
126310    gsw
126311    cle
126312    cle
126313    gsw
Name: TEAM_ID, Length: 126314, dtype: object

In [38]:
df[['TEAM_ID', 'FRAN_ID']].applymap(len)

        TEAM_ID  FRAN_ID
0             3        7
1             3        6
2             3        5
3             3        6
4             3        7
...         ...      ...
126309        3        9
126310        3        8
126311        3        9
126312        3        9
126313        3        8

[126314 rows x 2 columns]

In [39]:
df['TEAM_ID'].map({'trn': 'gsw'})
df['TEAM_ID']

0         trh
1         nyk
2         wsc
3         nyk
4         dtf
         ...
126309    cle
126310    gsw
126311    cle
126312    cle
126313    gsw
Name: TEAM_ID, Length: 126314, dtype: object

In [40]:
df['FRAN_ID'].value_counts()

Lakers          6024
Celtics         5997
Knicks          5769
Warriors        5657
Pistons         5650
Sixers          5644
Hawks           5572
Kings           5475
Wizards         4582
Spurs           4309
Bulls           4307
Pacers          4227
Thunder         4178
Rockets         4154
Nuggets         4120
Nets            4106
Suns            4080
Bucks           4034
Trailblazers    3870
Cavaliers       3810
Clippers        3733
Jazz            3555
Mavericks       3013
Heat            2371
Pelicans        2254
Magic           2207
Timberwolves    2131
Grizzlies       1657
Raptors         1634
Hornets          894
Colonels         846
Squires          799
Spirits          777
Stars            756
Sounds           697
Baltimore        467
Floridians       440
Condors          430
Capitols         291
Olympians        282
Sails            274
Stags            260
Bombers          249
Steamrollers     168
Packers           72
Redskins          65
Rebels            63
Waterloo          62
Denver            62
Falcons           60
Jets              60
Ironmen           60
Huskies           60
Name: FRAN_ID, dtype: int64

In [41]:
df['FRAN_ID'].nunique()

53

In [42]:
df['GAME_RESULT'] = df['GAME_RESULT'].map({'W': '1', 'L': '0'})
df['GAME_RESULT']

0         0
1         1
2         1
3         0
4         0
         ..
126309    0
126310    1
126311    0
126312    0
126313    1
Name: GAME_RESULT, Length: 126314, dtype: object

In [43]:
df.drop(columns = ['LG_ID', 'NOTES'], inplace= True)

In [44]:
df

             GAME_ID  GAMEORDER  _ISCOPY  YEAR_ID  DATE_GAME  SEASON_GAME  IS_PLAYOFFS TEAM_ID    FRAN_ID  PTS     ELO_I     ELO_N  WIN_EQUIV OPP_ID   OPP_FRAN  OPP_PTS  OPP_ELO_I  OPP_ELO_N GAME_LOCATION GAME_RESULT  FORECAST
0       194611010TRH          1        0     1947  11/1/1946            1            0     trh    Huskies   66  1300.000  1293.277     40.295    NYK     Knicks       68   1300.000   1306.723             H           0     0.640
1       194611010TRH          1        1     1947  11/1/1946            1            0     nyk     Knicks   68  1300.000  1306.723     41.705    TRH    Huskies       66   1300.000   1293.277             A           1     0.360
2       194611020CHS          2        0     1947  11/2/1946            1            0     wsc      Stags   63  1300.000  1309.652     42.012    NYK     Knicks       47   1306.723   1297.071             H           1     0.631
3       194611020CHS          2        1     1947  11/2/1946            2            0     nyk     Knicks   47  1306.723  1297.071     40.693    CHS      Stags       63   1300.000   1309.652             A           0     0.369
4       194611020DTF          3        0     1947  11/2/1946            1            0     dtf    Falcons   33  1300.000  1279.619     38.864    WSC   Capitols       50   1300.000   1320.381             H           0     0.640
...              ...        ...      ...      ...        ...          ...          ...     ...        ...  ...       ...       ...        ...    ...        ...      ...        ...        ...           ...         ...       ...
126309  201506110CLE      63155        0     2015  6/11/2015          100            1     cle  Cavaliers   82  1723.415  1704.395     60.310    GSW   Warriors      103   1790.959   1809.979             H           0     0.547
126310  201506140GSW      63156        0     2015  6/14/2015          102            1     gsw   Warriors  104  1809.979  1813.635     68.013    CLE  Cavaliers       91   1704.395   1700.739             H           1     0.766
126311  201506140GSW      63156        1     2015  6/14/2015          101            1     cle  Cavaliers   91  1704.395  1700.739     60.010    GSW   Warriors      104   1809.979   1813.635             A           0     0.234
126312  201506170CLE      63157        0     2015  6/16/2015          102            1     cle  Cavaliers   97  1700.739  1692.086     59.290    GSW   Warriors      105   1813.635   1822.288             H           0     0.481
126313  201506170CLE      63157        1     2015  6/16/2015          103            1     gsw   Warriors  105  1813.635  1822.288     68.520    CLE  Cavaliers       97   1700.739   1692.086             A           1     0.519

[126314 rows x 21 columns]

In [45]:
purchases[['firstname', 'lastname']] = purchases['Customer_name'].str.split(' ', expand=True)
purchases

   apples  oranges      Customer_name firstname      lastname
0       3        0  sara soltaninejad      sara  soltaninejad
1       2        3       Tina baghaee      Tina       baghaee
2       0        7          Alex hope      Alex          hope
3       1        2            Jen wei       Jen           wei
4       8        6     Frincy Clement    Frincy       Clement

In [46]:
purchases = purchases.append({'firstname':'Reuben', 'lastname':'G', 'apples':1, 'oranges':6, 'Customer_name': 'RuebenG'}, ignore_index=True)
purchases

   apples  oranges      Customer_name firstname      lastname
0       3        0  sara soltaninejad      sara  soltaninejad
1       2        3       Tina baghaee      Tina       baghaee
2       0        7          Alex hope      Alex          hope
3       1        2            Jen wei       Jen           wei
4       8        6     Frincy Clement    Frincy       Clement
5       1        6            RuebenG    Reuben             G

In [47]:
purchases.drop(index=0,inplace=True)
purchases

   apples  oranges   Customer_name firstname lastname
1       2        3    Tina baghaee      Tina  baghaee
2       0        7       Alex hope      Alex     hope
3       1        2         Jen wei       Jen      wei
4       8        6  Frincy Clement    Frincy  Clement
5       1        6         RuebenG    Reuben        G

In [48]:
purchases.sort_values(by='firstname', inplace=True)
purchases

   apples  oranges   Customer_name firstname lastname
2       0        7       Alex hope      Alex     hope
4       8        6  Frincy Clement    Frincy  Clement
3       1        2         Jen wei       Jen      wei
5       1        6         RuebenG    Reuben        G
1       2        3    Tina baghaee      Tina  baghaee

In [49]:
purchases.sort_values(by=['firstname', 'lastname'], ascending = [False, True], inplace=True)
purchases

   apples  oranges   Customer_name firstname lastname
1       2        3    Tina baghaee      Tina  baghaee
5       1        6         RuebenG    Reuben        G
3       1        2         Jen wei       Jen      wei
4       8        6  Frincy Clement    Frincy  Clement
2       0        7       Alex hope      Alex     hope

In [50]:
purchases.sort_index()

   apples  oranges   Customer_name firstname lastname
1       2        3    Tina baghaee      Tina  baghaee
2       0        7       Alex hope      Alex     hope
3       1        2         Jen wei       Jen      wei
4       8        6  Frincy Clement    Frincy  Clement
5       1        6         RuebenG    Reuben        G

In [51]:
purchases['apples'].nlargest(3)

4    8
1    2
5    1
Name: apples, dtype: int64

In [52]:
purchases.nlargest(10, 'apples')

   apples  oranges   Customer_name firstname lastname
4       8        6  Frincy Clement    Frincy  Clement
1       2        3    Tina baghaee      Tina  baghaee
5       1        6         RuebenG    Reuben        G
3       1        2         Jen wei       Jen      wei
2       0        7       Alex hope      Alex     hope

In [53]:
df.groupby("FRAN_ID", sort=False)["PTS"].sum()

FRAN_ID
Huskies           3995
Knicks          582497
Stags            20398
Falcons           3797
Capitols         22387
Celtics         626484
Steamrollers     12372
Ironmen           3674
Bombers          17793
Rebels            4474
Warriors        591224
Baltimore        37219
Jets              4482
Pistons         572758
Lakers          637444
Kings           569245
Hawks           567261
Denver            4818
Olympians        22864
Redskins          5372
Waterloo          4921
Packers           6193
Sixers          585891
Wizards         474809
Bulls           437269
Squires          91127
Stars            84940
Thunder         437735
Colonels         94435
Pacers          438288
Rockets         432504
Nuggets         445780
Spurs           453822
Spirits          85874
Sounds           75582
Floridians       49568
Nets            417809
Condors          49642
Bucks           418326
Suns            437486
Clippers        380523
Cavaliers       380416
Trailblazers    402695
Sails            30080
Jazz            363155
Mavericks       309239
Pelicans        220794
Heat            229103
Timberwolves    207693
Magic           219436
Grizzlies       157683
Raptors         158370
Hornets          84489
Name: PTS, dtype: int64

In [54]:
df[(df["FRAN_ID"] == "Spurs") & (df["YEAR_ID"] > 2010)].groupby(["YEAR_ID", "GAME_RESULT"])["GAME_ID"].count()

YEAR_ID  GAME_RESULT
2011     0              25
         1              63
2012     0              20
         1              60
2013     0              30
         1              73
2014     0              27
         1              78
2015     0              31
         1              58
Name: GAME_ID, dtype: int64

In [55]:
df.isnull().sum()

GAME_ID          0
GAMEORDER        0
_ISCOPY          0
YEAR_ID          0
DATE_GAME        0
SEASON_GAME      0
IS_PLAYOFFS      0
TEAM_ID          0
FRAN_ID          0
PTS              0
ELO_I            0
ELO_N            0
WIN_EQUIV        0
OPP_ID           0
OPP_FRAN         0
OPP_PTS          0
OPP_ELO_I        0
OPP_ELO_N        0
GAME_LOCATION    0
GAME_RESULT      0
FORECAST         0
dtype: int64

In [56]:
purchases = purchases.append({'firstname':'Adam', 'lastname':'Asquini'}, ignore_index=True)
purchases = purchases.append({'firstname':'Adam', 'lastname':'Asquini'}, ignore_index=True)
purchases = purchases.append({'apples': 5, 'firstname':'Cory'}, ignore_index=True)


purchases

   apples  oranges   Customer_name firstname lastname
0     2.0      3.0    Tina baghaee      Tina  baghaee
1     1.0      6.0         RuebenG    Reuben        G
2     1.0      2.0         Jen wei       Jen      wei
3     8.0      6.0  Frincy Clement    Frincy  Clement
4     0.0      7.0       Alex hope      Alex     hope
5     NaN      NaN             NaN      Adam  Asquini
6     NaN      NaN             NaN      Adam  Asquini
7     5.0      NaN             NaN      Cory      NaN

In [57]:
purchases.isnull().sum()

apples           2
oranges          3
Customer_name    3
firstname        0
lastname         1
dtype: int64

In [58]:
purchases.dropna(axis='index', how='all')

   apples  oranges   Customer_name firstname lastname
0     2.0      3.0    Tina baghaee      Tina  baghaee
1     1.0      6.0         RuebenG    Reuben        G
2     1.0      2.0         Jen wei       Jen      wei
3     8.0      6.0  Frincy Clement    Frincy  Clement
4     0.0      7.0       Alex hope      Alex     hope
5     NaN      NaN             NaN      Adam  Asquini
6     NaN      NaN             NaN      Adam  Asquini
7     5.0      NaN             NaN      Cory      NaN

In [59]:
purchases.dropna(axis='index', how='any')

   apples  oranges   Customer_name firstname lastname
0     2.0      3.0    Tina baghaee      Tina  baghaee
1     1.0      6.0         RuebenG    Reuben        G
2     1.0      2.0         Jen wei       Jen      wei
3     8.0      6.0  Frincy Clement    Frincy  Clement
4     0.0      7.0       Alex hope      Alex     hope

In [60]:
purchases.dropna(axis='columns', how='any')

  firstname
0      Tina
1    Reuben
2       Jen
3    Frincy
4      Alex
5      Adam
6      Adam
7      Cory

In [61]:
purchases.dropna(axis='index', how='any', subset=['firstname', 'lastname'])

   apples  oranges   Customer_name firstname lastname
0     2.0      3.0    Tina baghaee      Tina  baghaee
1     1.0      6.0         RuebenG    Reuben        G
2     1.0      2.0         Jen wei       Jen      wei
3     8.0      6.0  Frincy Clement    Frincy  Clement
4     0.0      7.0       Alex hope      Alex     hope
5     NaN      NaN             NaN      Adam  Asquini
6     NaN      NaN             NaN      Adam  Asquini

In [62]:
purchases.isna()

   apples  oranges  Customer_name  firstname  lastname
0   False    False          False      False     False
1   False    False          False      False     False
2   False    False          False      False     False
3   False    False          False      False     False
4   False    False          False      False     False
5    True     True           True      False     False
6    True     True           True      False     False
7   False     True           True      False      True

In [63]:
purchases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
apples           6 non-null float64
oranges          5 non-null float64
Customer_name    5 non-null object
firstname        8 non-null object
lastname         7 non-null object
dtypes: float64(2), object(3)
memory usage: 448.0+ bytes

In [64]:
purchases['apples'] = purchases['apples'].fillna(purchases['apples'].median())
purchases['oranges'] = purchases['oranges'].fillna(purchases['oranges'].median())


purchases

   apples  oranges   Customer_name firstname lastname
0     2.0      3.0    Tina baghaee      Tina  baghaee
1     1.0      6.0         RuebenG    Reuben        G
2     1.0      2.0         Jen wei       Jen      wei
3     8.0      6.0  Frincy Clement    Frincy  Clement
4     0.0      7.0       Alex hope      Alex     hope
5     1.5      6.0             NaN      Adam  Asquini
6     1.5      6.0             NaN      Adam  Asquini
7     5.0      6.0             NaN      Cory      NaN

In [71]:
# find duplicated rows
purchases.duplicated(keep='first').sum()

1

In [73]:
# drop duplicate rows
purchases.drop_duplicates(keep='last', inplace=True)
purchases

   apples  oranges   Customer_name firstname lastname
0     2.0      3.0    Tina baghaee      Tina  baghaee
1     1.0      6.0         RuebenG    Reuben        G
2     1.0      2.0         Jen wei       Jen      wei
3     8.0      6.0  Frincy Clement    Frincy  Clement
4     0.0      7.0       Alex hope      Alex     hope
6     1.5      6.0             NaN      Adam  Asquini
7     5.0      6.0             NaN      Cory      NaN

In [75]:
# create a new dataframe for teaching merge
data = {
    'Customer_name': ['sara soltaninejad', 'Tina baghaee', 'Alex hope', 'Jen wei', 'Frincy Clement'],
    'phone_number': [7808852145, 417123465, 845127963, 845697522, 66666666],
    'postal_code': ['T3d2s1', 'd3e456', 'r54j32', 'R89y4', 'r5t678'],
}
customer = pd.DataFrame(data)
customer

       Customer_name  phone_number postal_code
0  sara soltaninejad    7808852145      T3d2s1
1       Tina baghaee     417123465      d3e456
2          Alex hope     845127963      r54j32
3            Jen wei     845697522       R89y4
4     Frincy Clement      66666666      r5t678

In [81]:
# inner merge
purchase_customer = pd.merge(purchases, customer, on='Customer_name')
purchase_customer.to_csv('purchase_customer.csv', sep='\t')

In [79]:
# outer left merge
pd.merge(purchases, customer, on='Customer_name', how='left')

   apples  oranges   Customer_name firstname lastname  phone_number postal_code
0     2.0      3.0    Tina baghaee      Tina  baghaee     4.171e+08      d3e456
1     1.0      6.0         RuebenG    Reuben        G           NaN         NaN
2     1.0      2.0         Jen wei       Jen      wei     8.457e+08       R89y4
3     8.0      6.0  Frincy Clement    Frincy  Clement     6.667e+07      r5t678
4     0.0      7.0       Alex hope      Alex     hope     8.451e+08      r54j32
5     1.5      6.0             NaN      Adam  Asquini           NaN         NaN
6     5.0      6.0             NaN      Cory      NaN           NaN         NaN

In [80]:
# outer left merge
pd.merge(purchases, customer, on='Customer_name', how='right')

   apples  oranges      Customer_name firstname lastname  phone_number postal_code
0     2.0      3.0       Tina baghaee      Tina  baghaee     417123465      d3e456
1     1.0      2.0            Jen wei       Jen      wei     845697522       R89y4
2     8.0      6.0     Frincy Clement    Frincy  Clement      66666666      r5t678
3     0.0      7.0          Alex hope      Alex     hope     845127963      r54j32
4     NaN      NaN  sara soltaninejad       NaN      NaN    7808852145      T3d2s1

In [65]:
df.DATE_GAME = pd.to_datetime(df.DATE_GAME).dt.date
df['game_month'] = pd.to_datetime(df.DATE_GAME).dt.month
df['game_day'] = pd.to_datetime(df.DATE_GAME).dt.day_name()
df['game_day']

0           Friday
1           Friday
2         Saturday
3         Saturday
4         Saturday
            ...
126309    Thursday
126310      Sunday
126311      Sunday
126312     Tuesday
126313     Tuesday
Name: game_day, Length: 126314, dtype: object

In [66]:
print(df.DATE_GAME.min(), df.DATE_GAME.max())
print(df.DATE_GAME.max() - df.DATE_GAME.min())

1946-11-01 2015-06-16
25064 days, 0:00:00

In [67]:
df_new = df[(pd.to_datetime('2000-01-01') < df['DATE_GAME']) &  (df['DATE_GAME']< pd.to_datetime('2013-01-30'))]

In [68]:
df_new.set_index('DATE_GAME',inplace=True)
df_new

                 GAME_ID  GAMEORDER  _ISCOPY  YEAR_ID  SEASON_GAME  IS_PLAYOFFS TEAM_ID       FRAN_ID  PTS     ELO_I     ELO_N  WIN_EQUIV OPP_ID      OPP_FRAN  OPP_PTS  OPP_ELO_I  OPP_ELO_N GAME_LOCATION GAME_RESULT  FORECAST  game_month game_day
DATE_GAME
2000-01-02  200001020MIA      43034        0     2000           29            0     mia          Heat  111  1596.815  1601.227     51.475    ORL         Magic      103   1528.968   1524.555             H           1     0.724           1   Sunday
2000-01-02  200001020MIA      43034        1     2000           30            0     orl         Magic  103  1528.968  1524.555     43.666    MIA          Heat      111   1596.815   1601.227             A           0     0.276           1   Sunday
2000-01-03  200001030BOS      43035        1     2000           30            0     cle     Cavaliers   98  1419.594  1415.081     32.320    BOS       Celtics      105   1466.928   1471.441             A           0     0.300           1   Monday
2000-01-03  200001030BOS      43035        0     2000           29            0     bos       Celtics  105  1466.928  1471.441     38.103    CLE     Cavaliers       98   1419.594   1415.081             H           1     0.700           1   Monday
2000-01-03  200001030CHI      43036        1     2000           30            0     por  Trailblazers   88  1637.823  1643.209     55.467    CHI         Bulls       63   1263.909   1258.522             A           1     0.829           1   Monday
...                  ...        ...      ...      ...          ...          ...     ...           ...  ...       ...       ...        ...    ...           ...      ...        ...        ...           ...         ...       ...         ...      ...
2013-01-29  201301290DET      59879        0     2013           45            0     det       Pistons   90  1458.633  1433.790     33.695    MIL         Bucks      117   1499.599   1524.441             H           0     0.584           1  Tuesday
2013-01-29  201301290LAL      59880        1     2013           45            0     noh      Pelicans  106  1449.956  1446.595     35.003    LAL        Lakers      111   1521.409   1524.769             A           0     0.272           1  Tuesday
2013-01-29  201301290LAL      59880        0     2013           45            0     lal        Lakers  111  1521.409  1524.769     43.158    NOH      Pelicans      106   1449.956   1446.595             H           1     0.728           1  Tuesday
2013-01-29  201301290POR      59881        0     2013           45            0     por  Trailblazers  106  1463.658  1467.133     37.126    DAL     Mavericks      104   1481.098   1477.623             H           1     0.617           1  Tuesday
2013-01-29  201301290POR      59881        1     2013           45            0     dal     Mavericks  104  1481.098  1477.623     38.218    POR  Trailblazers      106   1463.658   1467.133             A           0     0.383           1  Tuesday

[33696 rows x 22 columns]

In [70]:
df_new.to_csv('game_data.csv', sep='\t')